.Dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.diaologsItems{
    padding: 10px;
}

.diaologsItems .active{
    color: gold;
}

.dialog{
color: aqua;
}

.messages {
    padding: 10px;
}

.message {}